p{
    font-family:"Segoe"'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0.01px 0.01px 0.01px black;
    }
    #links{
  margin: 0.5cm;
    }
  #pup{
height: 500


    }
    p{
text-align: center;



    }