h1 {
    background-color: red;
}

body {
    background-image: url(https://i.pinimg.com/originals/b8/24/ee/b824ee30ff5687d3dd89ab2da4725707.gif);
    color: lightgoldenrodyellow;
    font-size: 8mm;
    
}
    a {
        color: gold
    
    }
h1{
    color: royalblue;
    background:url(https://media.giphy.com/media/WB89g7idSwVi/giphy.gif);
    text-align: center
}

