h1{
    color : turquoise;
}
body{ background:url(https://cdn.dribbble.com/users/285475/screenshots/2332606/wizard_clap.gif);}
    

    
strong{color:black;}

img{
    width: 72mm;
}
h1{
    text-align: center
}   










