h1{
   text-align: center;
color: white;

}
#buttons{
    text-align: center;
}
body{
    background:url(https://gifer.com/i/Wczc.gif);
    background-color: black;
    background-repeat: no-repeat
}



