





html{
    background-color: rgb(55, 89, 94) ;
}
h1{
    color:rgb(68, 65, 214);
    font-size: 3cm;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
h2{
    color: dodgerblue;
    font-size: 1cm;
    text-shadow: 1px 1px 2px black;
}
a{
    color: black;
}
p{
    color: rgb(0, 161, 161);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px black;
}
img{
    height:75 ;
    width:100 ;
    box-shadow: 10px 5px 100px black;
    margin: 0.5cm;
}

#eerstetitel {
    text-align: center
}

    
ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
}

li a {

}

li a:hover {
    background-color: #111;
}

#split{
    display: flex;   
}

#split div{
    flex-grow: 1;
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

#menu{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

#menu a{
    flex-grow: 1;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
